.order-detail{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: rgb(161, 248, 121);
    border: 1px solid  rgb(14, 97, 25);
    height:25px;
    margin-bottom: 10px;
    width: 230px;

    
}