.order-detail{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: rgb(55, 228, 63);
    border: 1px solid  rgb(6, 165, 27);
    height:20px;
    margin-bottom: 10px;
    width: 230px;

    
}