.user-single{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: rgb(255, 228, 179);
    border: 1px solid  rgb(247, 167, 19);
    height:25px;
    margin-bottom: 10px;
    width: 230px;
}

.user{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}