<div class="user-list">
    <h3>user-list.component</h3>
    <!-- <app-user-single *ngFor="let number of [0,0,0,]"></app-user-single> -->
<ol>
<div class="users" *ngFor="let i of persons">
   
    <li>
        <div class="user"  [ngClass]="{'staff': i.role === 'staff', 'student':i.role === 'student', 'manager':i.role === 'manager', 'admin': i.role==='admin' }">
            <img src="{{i.profilePhotoUrl}}" alt="" height="80" width="95">
            <h2>{{i.name}}</h2>
            <p>{{i.age}}</p>
            <p>{{i.address.city}}</p>
            <button id="btn" (click)="deleteElement(i.name)">Delete</button>
        </div>
    </li>
    
</div>
  </ol>
  <div *ngIf="!persons.length">
    <p>Non Sono presenti utenti</p>
</div>
</div>
