.user-container{
    background-color: rgb(159, 197, 248);
    height: auto;
    width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    
}
.elements{
    display: flex;
    flex-direction: row;
    gap:50px;

}